{% extends 'base.html.twig' %}
{% block body %}


	<style>
		.btn-mdp {
			color: white;
			background-color: red;
			border-radius: 6px;
			padding: 6px 10px;
			border: none;
			transition: background-color 0.2s ease-in-out;
		}
		.btn-mdp:hover {
			background-color: white;
			color: red;
		}
		.eye {
			width : 40px;
			height : 40px;
		}
	</style>
	{% if errors %}
		<div class="alert alert-danger">
			Identifiant incorrect
		</div>
	{% endif %}

	<center style="margin-left: 35%; margin-right: 35%; margin-top: 5%">
		<form action="{{ path('app_login') }}" method="post">
			<div class="mb-3">
				<label for="login" class="form-label">Email
				</label>
				<input type="email" class="form-control" id="login" name="_username" value="{{ last_username }}">
			</div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<div class="input">
				<input class="form-control" id="password" name="_password" type="password"></input>
				<img src={{asset('media/Eyes-Close.png')}} id="eye" class="eye"/>
			</div>
		</div>

		<button type="submit" class="btn btn-primary">Connexion</button>
	</form>
	<br>
	<form>
		<button class="btn-mdp">Mot de passe oublié</button>
	</form><script>
	e=true;
	document.getElementById("eye").addEventListener("click",changer)
	function changer(){
		if(e){
			document.getElementById("password").setAttribute("type", "text");
			document.getElementById("eye").src="{{asset('media/Eyes-Open.png')}}";
			e=false;
		}
		else{
			document.getElementById("password").setAttribute("type", "password");
			document.getElementById("eye").src="{{asset('media/Eyes-Close.png')}}";
			e=true;
		}
	}
</script>
{% endblock %}

{% block javascripts %}

{% endblock %}