{% extends 'base.html.twig' %}
{% block title %}HackatWeb{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .btn-connect {color: white; background-color : blue; border-radius: 6px; padding: 6px 10px; border: none; text-decoration: none; transition: background-color 0.2s ease-in-out;}
	.btn-connect:hover {background-color: white; color: blue;}
</style>
<center style="margin-left: 35%; margin-right: 35%; margin-top: 1%; margin-bottom: 0">
{{form_start(form)}}
<div class="row">
    <div class="col">{{form_row(form.nom)}}</div>
    <div class="col">{{form_row(form.prenom)}}</div>
</div>
<div class="row">
    <div class="col">{{form_row(form.mel)}}
    <span class="text-danger" id="erreur_mel"></span></div>
    <div class="col">{{form_row(form.tel)}}    <span class="text-danger" id="erreur"></span>
    </div>
</div>
{{form_row(form.date_naissance)}}
{{form_row(form.portfolio_URL)}}
{{form_row(form.password)}}
<input class="btn-connect" type="submit" name="btn" value="Créer">
{{form_end(form)}}
<br>
<a href="{{path('app_login')}}"<button type="button" class="btn-connect">Me Connecter</button></a>
<br><br>

{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/validForm.js')}}"></script>
{% endblock %}
